body {
    margin:0;
    background-color: #b07cf7;
}

@font-face {
    font-family: 'MyriadPro';
    src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p.title {
    margin: 70px auto 20px auto;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}

p.title-text {
    margin: 20px auto 20px auto;
    width: 570px;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    color: white;
}

span {
    text-align: center;
}

main { 
    width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-one {
    position: relative;
}

.container-one-text-top {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container-one-text-bottom {
    position: absolute;
    top: 180px;
    left: 10px;
}

p.date {
    width: 60px;
    margin-left: 30px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.date span {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.text-bottom-one, .text-bottom-two {
    margin-left: 20px;
    width: 300px;
    font-size: 17px;
    text-align: justify;
    color: white;
    font-family: 'MyriadPro', sans serif;
}

.text-bottom-one {
    font-size: 20px;
}

.text-bottom-two {
    font-size: 14px
}

button {
    margin: 50px 0;
    height: 55px;
    width: 200px;
    background-color: red;
    border-color: red;
    color: white;
}
